@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 10% 15%; /* Dark Brownish Gray */
    --foreground: 25 20% 65%; /* Lighter Neutral Brown */

    --card: 25 10% 25%; /* Slightly Lighter Dark Brownish Gray */
    --card-foreground: 25 20% 65%; /* Lighter Neutral Brown */

    --popover: 25 15% 30%; /* Popover Background */
    --popover-foreground: 25 20% 75%; /* Popover Text */

    --primary: 195 70% 85%; /* Baby Blue */
    --primary-foreground: 25 20% 25%; /* Contrast to Baby Blue, Dark Neutral */

    --secondary: 25 25% 50%; /* Neutral Brown */
    --secondary-foreground: 195 70% 85%; /* Baby Blue for contrast */

    --success: 120 70% 85%; /* Green */
    --success-foreground: 25 20% 25%; /* Dark Neutral for contrast to Green */

    --muted: 25 5% 45%; /* Very Muted Brown */
    --muted-foreground: 25 15% 70%; /* Slightly Lighter Neutral Brown */

    --accent: 195 70% 85%; /* Baby Blue (Accent Color) */
    --accent-foreground: 25 20% 25%; /* Dark Neutral for contrast to Baby Blue */

    --destructive: 5 60% 40%; /* Darkish Red for destructive actions */
    --destructive-foreground: 25 10% 80%; /* Lighter Neutral Brown */

    --border: 25 10% 35%; /* Slightly Lighter than Background */
    --input: 25 10% 45%; /* For Input Backgrounds */
    --ring: 195 70% 70%; /* Slightly Muted Baby Blue for focus ring */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.stash-6 {
  @apply box-content grid h-full w-full auto-rows-[1fr] grid-cols-3 p-3 pl-0 xl:grid-cols-6;
}
.stash-8 {
  @apply box-content grid h-full w-full auto-rows-[1fr] grid-cols-4 p-3 pl-0 xl:grid-cols-8;
}
.stash-10 {
  @apply box-content grid h-full w-full auto-rows-[1fr] grid-cols-5 p-3 pl-0 xl:grid-cols-10;
}
